@charset "utf-8";


#showInfo .de{display:block; float:left; margin-left:250px; }
#showInfo .de h2{display:block; text-align:center; margin: 15px; text-decoration: underline}
#showInfo .de li{display:block;  margin:0 0 15px 0; padding:0 0 20px 0; border-bottom:2px dotted #999999;}
#showInfo .de img{float:left; width:80px; height:80px; margin:0 10px 0 0;}